<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kbws.mapper.ChatSessionUserMapper">

    <resultMap id="BaseResultMap" type="xyz.kbws.model.entity.ChatSessionUser">
            <id property="userId" column="userId" jdbcType="VARCHAR"/>
            <id property="contactId" column="contactId" jdbcType="VARCHAR"/>
            <result property="sessionId" column="sessionId" jdbcType="VARCHAR"/>
            <result property="contactName" column="contactName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,contactId,sessionId,
        contactName
    </sql>

    <sql id="base_condition_filed">
        <if test="query.userId != null and query.userId!=''">
            and user_id = #{query.userId}
        </if>
        <if test="query.contactId != null and query.contactId!=''">
            and contact_id = #{query.contactId}
        </if>
        <if test="query.sessionId != null and query.sessionId!=''">
            and session_id = #{query.sessionId}
        </if>
        <if test="query.contactName != null and query.contactName!=''">
            and contact_name = #{query.contactName}
        </if>
    </sql>

    <!-- 查询集合-->
    <select id="selectVO" resultType="xyz.kbws.model.vo.ChatSessionUserVO">
        SELECT u.*,
        c.lastMessage lastMessage,
        c.lastReceiveTime lastReceiveTime,
        case when SUBSTRING(contactId, 1, 1) ='G'
            THEN (select count(1) from user_contact uc where uc.contactId = u.contactId)
        else 0
        end memberCount
        FROM chat_session_user u inner join chat_session c on c.sessionId = u.sessionId
        <include refid="base_condition_filed"/>
    </select>
</mapper>
