<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kbws.mapper.UserContactApplyMapper">

    <resultMap id="BaseResultMap" type="xyz.kbws.model.entity.UserContactApply">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="applyId" column="applyId" jdbcType="VARCHAR"/>
            <result property="receiveId" column="receiveId" jdbcType="VARCHAR"/>
            <result property="contactType" column="contactType" jdbcType="TINYINT"/>
            <result property="contactId" column="contactId" jdbcType="VARCHAR"/>
            <result property="lastApplyTime" column="lastApplyTime" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="applyInfo" column="applyInfo" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,applyId,receiveId,
        contactType,contactId,lastApplyTime,
        status,applyInfo
    </sql>

    <select id="selectByPrimaryKey" resultType="xyz.kbws.model.entity.UserContactApply">
        select * from user_contact_apply where applyId = #{applyId} and receiveId = #{receiveId} and contactId = #{contactId}
    </select>
</mapper>
