<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kbws.mapper.UserContactMapper">

    <resultMap id="BaseResultMap" type="xyz.kbws.model.entity.UserContact">
            <id property="userId" column="userId" jdbcType="VARCHAR"/>
            <id property="contactId" column="contactId" jdbcType="VARCHAR"/>
            <result property="contactType" column="contactType" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,contactId,contactType,
        createTime,status,updateTime
    </sql>

    <sql id="base_condition_filed">
        <if test="query.userId != null and query.userId!=''">
            and c.userId = #{query.userId}
        </if>
        <if test="query.contactId != null and query.contactId!=''">
            and contactId = #{query.contactId}
        </if>
        <if test="query.contactType != null">
            and contactType = #{query.contactType}
        </if>
        <if test="query.createTime != null and query.createTime!=''">
            <![CDATA[ and  createTime=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
        </if>
        <if test="query.status != null">
            and c.status = #{query.status}
        </if>
        <if test="query.updateTime != null and query.updateTime!=''">
            <![CDATA[ and  updateTime=str_to_date(#{query.updateTime}, '%Y-%m-%d') ]]>
        </if>
        <if test="query.statusArray!=null and query.statusArray.length>0">
            and c.status in(<foreach collection="query.StatusArray" separator="," item="item">#{item}</foreach>)
        </if>
    </sql>

    <select id="listUsers" parameterType="string" resultType="xyz.kbws.model.vo.UserContactVO">
        select c.*, u.nickName, u.sex from user_contact c inner join user u on u.userId = c.userId where contactId = #{userId}
    </select>

    <select id="selectByUserIdAndContactId" resultType="xyz.kbws.model.entity.UserContact">
        select * from user_contact where userId = #{userId} and contactId = #{userId}
    </select>

    <!-- 查询集合-->
    <select id="myContact" resultType="xyz.kbws.model.vo.UserContactVO">
        SELECT c.*
        <if test="query.queryContactUserInfo">
            , u.nickName contactName, u.sex
        </if>
        <if test="query.queryGroupInfo">
            ,g.name contactName
        </if>
        FROM user_contact c
        <if test="query.queryContactUserInfo">
            inner join user u on c.contactId = u.userId
        </if>
        <if test="query.queryGroupInfo">
            inner join group_info g on c.contactId = g.id
            <if test="query.excludeMyGroup">
                and g.ownerId != c.userId
            </if>
        </if>
        <include refid="base_condition_filed"/>
        <if test="query.orderBy!=null">
            order by ${query.orderBy}
        </if>
    </select>
</mapper>
