<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.kbws.mapper.UserContactMapper">

    <resultMap id="BaseResultMap" type="xyz.kbws.model.entity.UserContact">
            <id property="userId" column="userId" jdbcType="VARCHAR"/>
            <id property="contactId" column="contactId" jdbcType="VARCHAR"/>
            <result property="contactType" column="contactType" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,contactId,contactType,
        createTime,status,updateTime
    </sql>

    <select id="listUsers" parameterType="string" resultType="xyz.kbws.model.vo.UserContactVO">
        select c.*, u.nickName, u.sex from user_contact c inner join user u on u.userId = c.userId where contactId = #{userId}
    </select>

    <select id="selectByUserIdAndContactId" resultType="xyz.kbws.model.entity.UserContact">
        select * from user_contact where userId = #{userId} and contactId = #{userId}
    </select>

    <select id="myContactGroup" resultType="xyz.kbws.model.vo.UserContactVO">
        select c.*, g.name contactName from user_contact c inner join group_info g on c.contactId = g.id and g.ownerId != c.userId
    </select>

    <select id="myContactUser" resultType="xyz.kbws.model.vo.UserContactVO">
        select c.*, u.nickName contactName from user_contact c inner join user u on u.userId = c.userId
    </select>
</mapper>
